<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragment:: page_head('Verification Success ','none')" >

</head>
<body>

<div class="container-fluid">
		
		<div  th:replace="navbar:: menu"></div>
<div>&nbsp;</div>
		<div class="text-center">
			<h1>  Customer Registration   </h1>
			<h4>Congratulation Your Account Has Been Verified </h4>
			
			<p><a th:href="@{/login}">Login New</a></p>

		</div>
	<div>&nbsp;</div>
		<div th:replace="navbar:: footer"></div>

	</div>
	



</body>
</html>