<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment:: page_head('Your account Details','none')"></head>
<body>

	<div class="container-fluid">
<div  th:replace="navbar:: menu"></div>

		

		<form th:action="@{/user/update}" method="post" style="max-width: 700px;margin: 0 auto;" th:object="${user}"
		  enctype="multipart/form-data" >
		  <div class="text-center">
			<h2> Your Account Details  </h2>
			
		</div>
		  
		
		<input type="hidden" th:field="*{id}" />

			<div class="border border-secondary rounded p-3">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">E-mail</label>
					<div class="col-sm-8">
						<input type="email" class="form-control" th:field="*{email}" readonly="readonly">

					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">First Name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="40">

					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Last Name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="40">

					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Password</label>
					<div class="col-sm-8">
						<input type="password" th:faild="*{password}" class="form-control" placeholder="leav blank if you wont change password" 
						minlength="8" maxlength="100" oninput="chechPasswordMatch(document.getElementById('confirmPassword'))"/>
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Confirm Password</label>
					<div class="col-sm-8">
						<input type="password" th:faild="*{password}" id="confirmPassword" 
						minlength="8" maxlength="100" class="form-control"  oninput="chechPasswordMatch(this)"/>
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Roles</label>
					<div class="col-sm-8">
                        <span><b>[[${user.role}]]</b></span>
                        
					</div>
				</div>
				
			
				
				
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Photo</label>
					<div class="col-sm-8">
						<input type="file"  id="photoFile" name="image" accept="image/png, image/jpeg" 
						class="mb-2" required/>
						<img id="thumbanil" th:src="@{${user.getImagePath}}" style="width: 100px;height: 100px" 
						class="img-fluid"/>
					</div>
					</div>
				

                <div class="text-center">
                  <input type="submit"  value="Save"  class="btn btn-primary" />
                  <input type="submit"  value="Cansel"  class="btn btn-secondary" id="buttonCansel"/>

                </div>

			</div>
		</form>
       <div  class="modal fade text-center" id="modalDailog">
          <div class="modal-dialog">
             <div class="modal-content">
              <div class="modal-header">
              <h4 class="modal-title" id="modalTitle">Warning</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
              </div>
              <div class="modal-body">
              <span id="modalBody"></span>
              
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              
              </div>
             
             </div>
          
          </div>
        
       </div>


		<div class="text-center">
			<p>Shopme Control Panel Copyright &copy; Shopme</p>
		</div>
	</div>
	<script type="text/javascript">
	
	$(document).ready(function(){
		
		$("#buttonCansel").on("click",function(){
			
			window.location = "[[@{/users}]]";
		});
		$("#photoFile").change(function() {
			fileSize = this.files[0].size;
			alert("File Size " +fileSize);
			if(fileSize > 1048576){
				this.setCustomValidity("Thse File Must 1MB");
				this.reportValidity();
			}else{
				this.setCustomValidity("");
				showImageThumbanil(this);
			}
			
		});
		
	});
	function showImageThumbanil(fileInput){
		var file = fileInput.files[0];
		var reder = new FileReader();
		reder .onload = function(e){
			$("#thumbanil").attr("src",e.target.result);
		};
		reder.readAsDataURL(file)
		
		
	}
	function chechPasswordMatch(confirmPassword){
		if(confirmPassword.value != $("#password").val()){
			confirmPassword.setCustomValidity("Password Do Not Match");
		}else{
			confirmPassword.setCustomValidity("");
		}
		
	}
	
	
	
	
	
	</script>
</body>

</html>