<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment:: page_head('Users - Shopme Admin','none')"></head>

<body>

	<div class="container-fluid">
		<div  th:replace="navbar:: menu"></div>

		<div>
			<h1>Manage Users</h1>
			<a th:href="@{/users/new}"
				class="fas fa-user-plus fa-2x icon-dark mr-2"></a> <a
				th:href="@{/users/export/csv}"
				
				class="fas fa-file-csv fa-2x icon-dark mr-2"> </a> <a
				th:href="@{/users/export/excel}"
				class="fas fa-file-excel fa-2x icon-dark mr-2"></a> <a
				th:href="@{/users/export/pdf}"
				class="fas fa-file-pdf fa-2x icon-dark"></a>



		</div>
		<div th:if="${message != null}"
			class="alert alert-success text-center">[[${message}]]</div>
		<div>
			<form th:action="@{/users/page/1}" class="form-inline m-3">
				Filter : &nbsp; <input type="search" name="keyWord"
					th:value="${keyWord}" class="form-control" required /> &nbsp;
				&nbsp;
				<button type="submit" class="btn btn-primary">
					<i class="fas fa-search"></i>
				</button>
				&nbsp; <input type="button" class="btn btn-danger" value="Clear"
					onclick="clearFilter()" />

			</form>

		</div>

		<div class="full-details">
			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>User Id</th>

						<th>Photos</th>

					<th >First Name</th>
					<th >Last Name</th >

						<th>Email</th>

						<th>Role</th>

						<th>Enable</th>
						<th>Action</th>
					</tr>

				</thead>
				<tbody>
					<tr th:each="user : ${list_user}">
						<td>[[${user.id}]]]</td>
						<td><span th:if="${user.photos==null}"
							class="fas fa-portrait fa-8x icon-silver" ></span> <img
							th:if="${user.photos !=null}" th:src="@{${user.getImagePath}}"
							style="width: 100px; height: 100px" /></td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.email}]]</td>
						<td>[[${user.role}]]</td>
						<td><a th:if="${user.enabled==true}"
							class="fas fa-check-circle fa-2x icon-green"
							th:href="@{'/users/'+${user.id} +'/enabled/false'}"
							title="Edit User"> </a> <a th:if="${user.enabled==false}"
							class="fas fa-circle fa-2x icon-dark"
							th:href="@{'/users/'+${user.id} +'/enabled/true'}"> </a></td>
						<td><a class="fas fa-edit fa-2x icon-green"
							th:href="@{'/user/edit/' + ${user.id}}"> </a> &nbsp; <a
							class="fas fa-trash fa-2x icon-dark link-delete"
							th:href="@{'/user/delete/' + ${user.id}}" th:userId="${user.id}">
						</a></td>
					</tr>

				</tbody>


			</table>
		</div>


		<div class="less-details">
			<div th:each="user : ${list_user}" class="row m-1">
				<div class="col-4">
					<span th:if="${user.photos==null}"
						class="fas fa-portrait fa-3x icon-silver"></span> <img
						th:if="${user.photos !=null}" th:src="@{${user.getImagePath}}"
						style="width: 100px; height: 100px" />
				</div>
				<div class="col-8">
					<div>[[${user.fullName}]]</div>
					<div>[[${user.role}]]</div>
					<div>
						<a th:if="${user.enabled==true}"
							class="fas fa-check-circle fa-2x icon-green"
							th:href="@{'/users/'+${user.id} +'/enabled/false'}"
							title="Edit User"> </a> <a th:if="${user.enabled==false}"
							class="fas fa-circle fa-2x icon-dark"
							th:href="@{'/users/'+${user.id} +'/enabled/true'}"> </a> <a
							class="fas fa-edit fa-2x icon-green"
							th:href="@{'/user/edit/' + ${user.id}}"> </a> &nbsp; <a
							class="fas fa-trash fa-2x icon-dark link-delete"
							th:href="@{'/user/delete/' + ${user.id}}" th:userId="${user.id}">
						</a>

					</div>

				</div>
			</div>
		</div>

		<div class="text-center m-1" th:if="${totalItem >0}">
			<span>Showing Users # [[${startCount}]] to [[${endCount}]] of
				[[${totalItem}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItem >0}">
			<span> No User Found</span>
		</div>

		<div th:if="${totalPage > 1}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center flex-wrap">

					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled' }">
						<a class="page-link" th:href="@{/users/page/1}">First</a>
					</li>
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled' }">
						<a class="page-link"
						th:href="@{'/users/page/' + ${currentPage -1}}">Previous</a>
					</li>

					<li
						th:class="${currentPage !=i ? 'page-item' : 'page-item active' }"
						th:each="i : ${#numbers.sequence(1,totalPage)}"><a
						class="page-link" th:href="@{'/users/page/' + ${i}}">[[${i}]]</a>
					</li>

					<li
						th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled' }">
						<a class="page-link"
						th:href="@{'/users/page/' + ${currentPage +1}}">Next</a>
					</li>
					<li
						th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled' }">
						<a class="page-link" th:href="@{'/users/page/' + ${totalPage}}">Last</a>
					</li>

				</ul>
			</nav>

		</div>

 
		<div class="modal fade text-center" id="modalDelete">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete Confirmation</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>

					</div>
					<div class="modal-body">
						<span id="modalBody"></span>

					</div>
					<div class="modal-footer">
						<a class="btn btn-success" href="" id="yesButton">Yes</a>

						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

					</div>

				</div>

			</div>
		</div>
	</div>

   
	<div th:replace="fragment:: footer"></div>

	<script type="text/javascript">
	
	$(document).ready(function(){
		
		$(".link-delete").on("click",function(e){
			e.preventDefault();
			link = $(this);
			userId= link.attr("userId");
			//alert("you are Deleting");
			$("#yesButton").attr("href",link.attr("href"));
			$("#modalBody").text("Are You Sure You Wont To Deleting User Id : "+userId);
			$("#modalDelete").modal();
			
		})
		
	});
	function clearFilter(){
		 window.location="[[@{/users}]]";
		}
	
	</script>
</body>
</html>