<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment:: page_head('Forgot Password','none')">

</head>
<body>

	<div class="container-fluid text-center">

		<div th:replace="navbar:: menu"></div>

		<div class="text-center">
			<h1>Forgot Password</h1>

		</div>



		<div>&nbsp;</div>

		<form th:action="@{/forgot_password}" method="post"
			style="max-width: 600px; margin: 0 auto;">
			
			<div th:if="${error != null}">
			   <p class="text-danger">[[${error}]]</p>
			
			</div>
			
			<div th:if="${message != null}">
			   <p class="text-warning">[[${message}]]</p>
			
			</div>

			<div class="border border-decondary rounded p-3">

				<div>
					<p>We Will Be Sending Reset Password Link your Email </p>
				</div>
          <div>&nbsp;</div>

				<div>
					<p> <input type="email" class="form-control" name="email"
						placeholder="Enter Your E-mail" required autofocus="autofocus">
					</p>

				</div>
				<div>&nbsp;</div>
				<div>
					<p> <input type="submit" class="btn btn-primary" value="Send">
					</p>
				</div>



			</div>
		</form>



		<div th:replace="navbar:: footer"></div>

	</div>




</body>
</html>