<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment:: page_head('Reset Password','none')">

</head>
<body>

	<div class="container-fluid text-center">

		<div th:replace="navbar:: menu"></div>

		<div class="text-center">
			<h1>Reset Password</h1>

		</div>



		<div>&nbsp;</div>

		<form th:action="@{/forgot_password}" method="post" style="max-width: 600px; margin: 0 auto;"
		onsubmit="return checkEmailUnique(this);">
			<input type="hidden" th:value="${token}" name="token">
			

			<div class="border border-decondary rounded p-3">

			

				<div>
					<p> <input type="password" class="form-control" name="password"
						placeholder="Enter Your password" required autofocus="autofocus"
						 oninput="chechPasswordMatch(document.getElementById('confirmPassword'))">>
					</p>

				</div>
				
				<div>
					<p> <input type="password" class="form-control" 
						placeholder="Confirm Your password" id="confirmPassword" required 
						 oninput="chechPasswordMatch(this)">
					</p>

				</div>
				<div>&nbsp;</div>
				<div>
					<p> <input type="submit" class="btn btn-primary" value="Change Password">
					</p>
				</div>



			</div>
		</form>
<div>&nbsp;</div>


		<div th:replace="navbar:: footer"></div>

	</div>
	<script type="text/javascript">
	
	
	  function chechPasswordMatch(confirmPassword){
		if(confirmPassword.value != $("#password").val()){
			confirmPassword.setCustomValidity("Password Do Not Match");
		}else{
			confirmPassword.setCustomValidity("");
		}
		
	}
	
	
	
	</script>




</body>
</html>